.home_side {
  background-color: #C1F5F0;
  padding: 4px;
  margin: 0;

}

.home_container {
  @extend %big_container;

  .home_sidebar {
    padding: 15px;
    padding-top: 4rem;
    background-color: #C1F5F0;
    flex: 1;
    flex-grow: 1;

    .title {
      background-color: #14A395;
      color: #FFF;
      cursor: pointer;

      &:hover {
        @extend .animated;
        @extend .pulse;
      }
    }

  }

  .product-image {
    cursor: pointer;

    &:hover {
      @extend .animated;
      @extend .pulse;

    }
  }

  .add_to_cart {
    cursor: pointer;

    &:hover {
      @extend .animated;
      @extend .pulse;
      @extend .fast;

    }
  }
}